@model Phoneify.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>Birthday:</dt>
            <dd>
                @Model.Birthday.ToString("dd MMM yyyy")
            </dd>
            <div id="Avatar">
                <dt>Avatar</dt>
                <dd>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <img class="img-responsive img-thumbnail" src="@Url.Content(Model.AvatarUrl)" alt="Avatar" />
                        </div>
                    </div>
                    @* Add image logic here *@
                </dd>
            </div>
            <br/>
            <dt>New avatar:</dt>
            <dd>
                <form action="/Manage/UpdateAvatar" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.NewAvatar, new { type = "file" })

                        <button type="submit" class="btn btn-primary">
                            Change thy avatar
                        </button>
                    </div>
                </form>
            </dd>
        </dl>
    </div>
</div>

@section Scripts {
    
}
